@import "variables.scss";
.about-us {
  .content {
    padding: 10vh 15px;
  }
  .trusted-by-carousel{
    margin-top: 100px;
    .slick-prev:before, .slick-next:before {
      color: $text;
    }
  }
  header {
    h2 {
    color: $text;
    margin: 15px 0;
    }
  }
  .fixed-nav {
    display: none;
    @media screen and (min-width: 1024px) {
      display: block;
    }
    position: absolute;
    bottom: 250px;
    left: 0;
    transform: rotate(270deg);
    transform-origin: left;
    z-index: 99;
    left: 40px;
    a {
      color: $text;
      opacity: .5;
      font-family: 'Gilroy-Bold', sans-serif;
      text-transform: uppercase;
      &:hover {
        opacity: 1;
        text-decoration: none;
        &:after {
          content: ' ';
          display: block;
          position: relative;
          width: 20px;
          left: 50%;
          height: 2px;
          background: $orange;
          transform: translateX(-20px);
        }
      }
    }
  }
  .certificates-column {
    padding-top: 10vh;
    position: relative;
    text-align: center;
    background: #46484d;
  }
  .certificates {
    position: absolute;
    top: 50%;
    &:first-child {
      left: 0;
      transform: rotate(270deg);
    }

    &:last-child {
      right: 0;
      transform: rotate(90deg);
    }
  }
  .certificates-list {
    img {
      width: 250px;
      height: auto;

      margin: 25px 0 ;
    }
  }

  .why {
    h3 {
      margin: 15px 0;
    }
  }

  .team-member {
    h4 {
      margin-bottom: 0;
    }
    .position {
      margin-bottom: 5px;
    }
    ul {
      list-style: disc;
      padding-left: 25px;
    }
  }

  .description {
    height: 100px;
    overflow: hidden;
    transition: all .4s ease;
  }
  .team-member:hover .description{
    height: 500px;
    transition: all .4s ease;
  }

  .testimonials {
    background: $grey;
    .testimonials-carousel img {
      max-width: 100%;
      border-radius: 100% 0 0 100%;
      object-fit: cover;
      object-position: left;
      width: 450px;
      height: 500px;
    }
    .testimonials-carousel {
      .slick-next, .slick-prev{
        top: auto;
        left: auto;
        bottom: 50px;
      }
      .slick-next {
        right: 0;
      }
      .slick-prev {
        right: 30px;
      }

      .slick-dots {
        right: 60px;
        display: inline-block;
        left: auto;
        bottom: 35px;
        width: auto;
      }
    }
    .quote {
      opacity: .8;
      margin-top: -50px;
      font-size: 24px;
    }
    .testimonial-slide {
      position: relative;
    }
    .author {
      position: absolute;
    bottom: 0;
    left: 30%;
    border-radius: 0 100px 0 0;
    background: #fff;
    padding: 25px 100px 25px 50px;
    transform: translate(0, -15px);
    }
  }
  .italic {
    font-style: italic;
  }
}