.btn {
  font-family: Gilroy-Bold, sans-serif;
}

.btn-learn-more, .btn-learn-more:hover  {
  background: #fff;
  border-radius: 40px;
  color: #34373d;
  padding: 12px 30px;
  font-size: 12px;
  box-shadow: 1px 8px 20px rgba(0,0,0,.5);
}