.btn {
  font-family: Gilroy-Bold, sans-serif;
  border-radius: 40px;
  padding: 12px 30px;
  font-size: 15px;
}

.btn-learn-more, .btn-learn-more:hover, .btn-white  {
  background: #fff;
  color: #34373d;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

.btn-orange {
  background: #fb4136;
  color: #fff;
  &:hover {
    color: #fff;
    box-shadow: 1px 8px 20px rgba(0,0,0,.5);
  }
}

.btn-transparent {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 12px;
  .with-content {
    display: none;
  }
  &:hover {
    .with-content {
      display: inline-block;
      margin: 0 10px;
    }
  }
}