@import "variables.scss";

ul {
	padding: 0;
	list-style: none;
}
p {
    font-size: 16px;
    line-height: 26px;
}
header {
    position: relative;
}
* {
    outline: none!important;
}
//Space out content a bit 
body {
    // padding-top: 90px;
  padding-bottom: 1.5rem;
}

.article {
    ul {
      list-style-type: none;
      padding-left: 25px;
    }

    ul li:before {
      content: '\2014';
      position: absolute;
      margin-left: -20px;
    }
}

.grey {
    color: #858487;
}

.intro, .traffic {
    .bordered {
        border-bottom: 1px solid #d6cece;
        margin-bottom: 50px;
        padding-bottom: 60px;
        @media screen and (min-width: 992px) {
            border-bottom: none;
            padding-bottom: 30px;
            margin-bottom: 0;
            border-right: 1px solid #d6cece;
        }
    }
}

.testimonial, .testimonal-slide {
    background: $light-grey;
    padding: 50px 0;
    p:first-child, .quote {
        font-size: 26px;
        font-style: italic;
        &:before {
            color: $grey;
            content: url("../images/comma-left.png");
            font-size: 50px;
            position: relative;
            left: -20px;
            line-height: 30px;
        }
        &:after {
            color: $grey;
            line-height: 30px;
            content: url("../images/comma-right.png");
            font-size: 50px;
            position: relative;
            right: -20px;
            bottom: -5px;
        }
    }
    strong {
        display: inline-block;
        margin-right: 10px;
    }
}
.dash-before {
    padding-left: 35px;
    &.grey {
        &:before {
            background: #cacaca;
        }
    }
    &:before {
        content: ' ';
        display: block;
        width: 25px;
        position: relative;
        left: -35px;
        height: 1px;
        top: 13px;
        background: $orange;
    }
    &.grey {
        &:before {
            background: #cacaca;
        }
    }
}
.btn:focus, .btn.focus {
    box-shadow: 0 0 0 3px rgb(246, 65, 56);
}

.intro h2 + p {
    font-size: 18px;
}

.uppercase {
    text-transform: uppercase;
}

.p-absolute {
    position: absolute;
}

img.cover {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
strong {
    font-family: 'Gilroy-Bold', sans-serif;
}

.list-inline li {
    display: inline-block;
    padding-right: 10px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  &.column {
    flex-flow: column;
}
}

// carousel


// Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-next {
    right: 0;
}
.slick-prev {
    left: 0;
}
.slick-next:before {
    content: '→';
}
.slick-prev:before {
    content: '←';
}

.small-grey-text, .small-grey-text:hover {
    font-size: 13px;
    text-transform: uppercase;
    color: #bfbfbf;
    text-decoration: none;
}

a.fa {
    color: #fff;
}

.one-line {
    margin-bottom: 0;
}

.form-control:focus {
    border-color: $orange;
}

h2 {
    font-size: 3rem;
}

.bg-black {
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0,0,0,.4);
    }

.bg-grey {
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(80, 78, 78, 0.4);
    }

.case-examples {
    padding-bottom: 0;
    .bg-grey {
        z-index: 8;
    }
    .col-12 {
        overflow: hidden;
    }
    a:hover {
        img {
            transform: scale(1.1);
            transition: all .3s linear;
        }
    }
    text-align: center;
    img {
        object-fit: cover;
        height: 338px;
        width: 100%;
        transition: all .3s linear;
    }
    .centered-absolute {
        position: absolute;
        top: 30%;
        z-index: 9;
        color: #fff;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
}
h3 {
    font-size: 22px;
    @media screen and (min-width: 1024px) {
        font-size: 30px;
    }
}

header h2 {
    color: #fff;
}
.social-media a {
    padding: 5px;
}
.social-media a:hover {
    text-decoration: none;
    transform: translateY(-5px);
    transition: transform .3s ease;
}

header .scroll-for-more {
    position: absolute;
    width: 200px;
    color: #fff;
    height: 60px;
    background: #fb4136;
    z-index: 9;
    right: 0;
    text-transform: uppercase;
    bottom: 0;
    text-align: right;
    /* padding-top: 50px; */
    font-size: 9px;
    border-radius: 100% 0 0 0;
}

    
    .row.with-offset {
        padding: 65px 0;
    }
  .offset-top{
    transform: translateY(-50px);
  }
  .offset-top-200 {
    margin-top: 200px;
  }
  .offset-top-150 {
    margin-top: 150px;
  }
  .offset-top-100 {
    margin-top: 100px;
  }
  .offset-top-50 {
    margin-top: 50px;
  }
  .offset-bot-50 {
    margin-top: -50px;
  }
  .offset-bot-100 {
    margin-top: -100px;
  }
  .offset-bot-150 {
    margin-top: -150px;
  }
  .offset-bot-200 {
    margin-top: -200px;
  }