@import "variables.scss";

ul {
	padding: 0;
	list-style: none;
}
p {
    font-size: 18px;
}
 * {
    outline: none!important;
 }
//Space out content a bit 
body {
  padding-bottom: 1.5rem;
}

.uppercase {
    text-transform: uppercase;
}

strong {
    font-family: 'Gilroy-Bold', sans-serif;
}

.list-inline li {
    display: inline-block;
    padding-right: 10px;
}

// carousel


// Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-next {
    right: 0;
}
.slick-prev {
    left: 0;
}
.slick-next:before {
    content: '→';
}
.slick-prev:before {
    content: '←';
}

.small-grey-text, .small-grey-text:hover {
    font-size: 13px;
    text-transform: uppercase;
    color: #bfbfbf;
    text-decoration: none;
}

a.fa {
    color: #fff;
}

.one-line {
    margin-bottom: 0;
}

.form-control:focus {
    border-color: $orange;
}

h2 {
    font-size: 3rem;
}