@import "variables.scss";
.navbar-brand img {
	width: 200px;
}

#animation {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
}
canvas{
	// position: absolute;
	top:0;
	margin-top: -150px;
	width: 100%!important;
	left:0;
	z-index:1;
}
header {
  figure {
    margin: 0;
  }
}
header.carousel {
	figure img {
		height: 100vh;
		width: 100%;
		object-fit: cover;
	}

	@keyframes scale-x-zero-to-max {
		0% {
			transform: scaleX(0);
		}

		100% {
			transform: scaleX(1);
		}
	}

	.slick-slide {
		&:after {
			background: #fb4136;

			display: block;
			content: "";

			width: 100%;
			height: .25rem;

			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 99;

			transform: scaleX(0);
			transform-origin: left 50%;
		}

		&.slick-active:after {
        animation: scale-x-zero-to-max 9s linear .8s 1 forwards; // Note that 6s should be same as Slick's autoplaySpeed and .8s same as speed
      }
    }


    figure {
    	margin: 0;
    }
    .slide-content {
    	position: absolute;
    	bottom: 100px;
    	left: 10%;
    	p {
    		color:#a0a1a5;
    		strong {
    			color: #fff;
    		}
    	}
    	.btn-next-service, h2 {
    		color: #fff;
    	}
    }
    .slick-next, .slick-prev {
    	display: none!important;
    }
    .slick-dots {
    	position: absolute;
    	top: 35%;
    	@media screen and (min-width: 1024px) {
    		top: 50%;
    	}
    	color: #fff;
    	button {
    		background: none;
    		border: none;
    		font-size: 18px;
    		color: #fff;
    		font-family: pill-gothic-600mg, sans-serif;
			  font-style: normal;
			  font-weight: 700;
    		position: relative;
    		padding-left: 30px;
    		cursor: pointer;
    		opacity: .6;
    		&:before {
    			content: '';
    			height: 2px;
    			width: 15px;
    			background: #fff;
    			display: block;
    			position: absolute;
    			left: 0;
    			top: 50%;
    		}
    	}
    	li.slick-active {
    		button {
    			opacity: 1;
    			padding-left: 45px;
    			&:before {
    				width: 30px;
    			}
    		}
    	}
    }
}



  section.intro {
  	p {
  		margin-bottom: 45px;
  		margin-top: 30px;
  	}
  	background: $light-grey;
  	padding: 100px 0 150px 0;
  	h6 {
  		color: #858487;
  	}
  	.btn {
  		margin-bottom: 15px;
  	}
  }

  .case-studies, .testimonials-carousel {
  	.service {
  		color: #bfbfbf;
  		strong {
  			color: #34373d;
  		}
  	}
    .case-content {
      @media screen and (min-width: 1024px) {
        padding-top: 15%;
      }
    }
  	.case-studies-carousel, .trusted-by-carousel {
  		padding: 0 45px;
  	}
  	.slick-next:before, .slick-prev:before {
  		color: #34373d;
  		border: 1px solid #34373d;
  	}
  	.slick-next:before {
  		border-radius: 0 50% 50% 0;
  		padding: 5px;
  	}
  	.slick-prev:before {
  		border-radius: 50% 0 0 50%;
  		padding: 5px;
  	}

.trusted-by-carousel {
	.slick-next:before, .slick-prev:before {
		border: none;
	}
	img {
		width: 100%;
	}
}

/* Dots */
.slick-slider
{
	margin-bottom: 30px;
}

.slick-dots
{
	position: absolute;
	bottom: 25px;

	display: block;

	width: 100%;
	padding: 0;

	list-style: none;

	text-align: center;
}
.slick-dots li
{
	position: relative;

	display: inline-block;

	width: 10px;
	height: 10px;
	margin: 0 1px;
	padding: 0;

	cursor: pointer;
}
.slick-dots li button
{
	font-size: 0;
	line-height: 0;

	display: block;

	width: 10px;
	height: 10px;
	padding: 5px;

	cursor: pointer;

	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
	outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
	opacity: 1;
}
.slick-dots li button:before
{
	font-family: 'slick';
	font-size: 20px;
	line-height: 10px;

	position: absolute;
	top: 0;
	left: 0;

	width: 10px;
	height: 10px;

	content: '•';
	text-align: center;

	opacity: .25;
	color: black;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
	opacity: .75;
	color: black;
}

}

.trusted-by-carousel {
	li {
		position: relative;
		height: 100px;
	}
	img {
		filter: grayscale(100%);
		opacity: .5;	
		max-width: 150px;
		padding: 0 15px;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

}

section, footer {
	position: relative;
	padding: 100px 0;
}
section.contact {
  padding-top: 0;
	background: #34373e;
		.contact-info {
      padding-top: 100px;
		color: #fff;
	}
	.small-grey-text {
		margin-bottom: 15px;
		margin-top: 15px;
		display: inline-block;
	}
	.fade-out  {
		color: #33333b;
	    font-size: 100px;
	    position: absolute;
	    top: 10%;
	    @media screen and (min-width: 1024px) {
	    	font-size: 200px;
	    }
	}
	.contact-form {
		background: #f9f9f9;
    	padding: 30px 25px;
    	position: relative;
    	margin-top: 20px;
    	z-index: 999;
    	transform: translateY(70px);
		label, input, textarea, select {
			color: #363739;
		}
    select {
      appearance: none;
    }
		input, select {
			width: 100%;
			border-radius: 100px;
		}
	}
}

footer {
	padding-top: 100px;
	.social-media {
		margin: 50px 0;
	}
  .google-partner img {
    width: 150px;
    margin-left: 15px;
  }
	a, a.fa, a:hover {
			color: #000;
		}
  h2 {
    margin-top: 3rem;
    text-transform: capitalize;
  }
	.footer-menu {
		margin-top: 50px;
		@media screen and (min-width: 1024px) {
			margin-top: 0;
		}
	}
}

@media screen and (min-width: 48em) {

}