@import 'variables.scss';
.navbar {
	padding: 18px;
	padding-right: 50px;
	ul.navbar-nav {
		display: none;
		a {
			color: #fff;
			font-size: 18px;
			opacity: .6;
			&:hover {
				color: #fff;
				opacity: 1;
			}
		}
		.nav-link {
			padding-right: 1rem;
			padding-left: 1rem;
		}
	}

	.navbar-brand.red {
		display: none;
	}
	.nav-item {
		float: left;
	}
	a.mobile {
		margin: 0 1rem;
		color: #fff;
		font-size: 2rem;
	}
	a.menu-link {
		color: #fff;
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    background: $orange;
    line-height: 50px;
    font-size: 20px;
    border-radius: 65px 0 0 65px;
    right: 0;
	}

	&.solid {
		&.white-menu {
			.navbar-brand.red-logo {
				display: none;
			}
			.navbar-brand {
				display: block;
			}
		}
		background: #34373D;
		ul.navbar-nav {
			@media screen and (min-width: 1024px) {
				display: block;
			}

			a {
				opacity: 1;
			}
		}
	}

	&.white-menu {
		a.mobile {
					color: $text;
				}
		.navbar-brand {
			display: none;
		}
		&.solid {
			ul.navbar-nav a {
				color: #fff;
			}
			a.mobile {
				color: #fff;
			}
		}
		ul.navbar-nav {
			@media screen and (min-width: 1024px) {
				display: block;
				a {
					color: $text;
				}
			}
		}
		@media screen and (min-width: 1224px) {
				a.mobile {
					display: block;
				}
			}
		.navbar-brand.red-logo {
			display: block;
			}
		
	}

}