@import 'variables.scss';
.navbar {
	ul.navbar-nav {
		display: none;
		a {
			color: #fff;
			opacity: .6;
			&:hover {
				color: #fff;
				opacity: 1;
			}
		}
		.nav-link {
			padding-right: 1rem;
			padding-left: 1rem;
		}
	}
	a.mobile {
		margin: 0 1rem;
		color: #fff;
		font-size: 2rem;
	}
	a.menu-link {
		color: #fff;
	    width: 65px;
	    height: 65px;
	    position: relative;
	    text-align: center;
	    background: $orange;
	    line-height: 65px;
        border-radius: 65px 0 0 65px;
	    right: -15px;
	}

	&.solid {
		background: #34373D;
		ul.navbar-nav {
			display: flex;
			a {
				opacity: 1;
			}
		}
	}

}