@import 'variables.scss';
.navbar {
	padding: 18px;
	padding-right: 50px;
	ul.navbar-nav {
		display: none;
		a {
			color: #fff;
			font-size: 18px;
			opacity: .6;
			&:hover {
				color: #fff;
				opacity: 1;
			}
		}
		.nav-link {
			padding-right: 1rem;
			padding-left: 1rem;
			position: relative;
			display: inline-block;
			// margin: 15px 25px;
			outline: none;
			color: rgba(255,255,255, .7);
			text-decoration: none;
			letter-spacing: 1px;
			text-shadow: 0 0 1px rgba(255,255,255,0.3);
			// font-size: 1.35em;
			&:before {
				position: absolute;
				top: 0;
				left: 1rem;
				overflow: hidden;
				padding: 8px 0;
				max-width: 0;
				border-bottom: 2px solid #fff;
				color: #fff;
				content: attr(data-hover);
				-webkit-transition: max-width 0.5s;
				-moz-transition: max-width 0.5s;
				transition: max-width 0.5s;
				white-space: nowrap;
			}

			&:hover, &:focus {
				outline: none;
				&:before {
					max-width: 100%;
				}
			}
		}
	}

	.navbar-brand.red {
		display: none;
	}
	.nav-item {
		float: left;
	}
	a.mobile {
		display: none!important;
		margin: 0 1rem;
		color: #fff;
		font-size: 2rem;
		&:hover {
			color: #fff;
			cursor: pointer;
		}
	}
	.menu-link {
		color: #fff;
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    background: $orange;
    line-height: 50px;
    font-size: 20px;
    border-radius: 65px 0 0 65px;
    right: 0;
    &:hover {
    	text-decoration: none;
    }
	}

	&.solid {
		&.white-menu {
			.navbar-brand.red-logo {
				display: none;
			}
			.navbar-brand {
				display: block;
			}
		}
		@media screen and (min-width: 600px) {
			a.mobile {
				display: block!important;
			}
		}
		background: #34373D;
		ul.navbar-nav {
			@media screen and (min-width: 1224px) {
				display: block;
			}

			a {
				opacity: 1;
			}
		}
	}

	&.white-menu {
		.navbar-brand {
			display: none;
		}
		&.solid {
			ul.navbar-nav a {
				color: #fff;
			}
			a.mobile {
				color: #fff;
				&:hover {
					color: #fff;
				}
			}
		}
		ul.navbar-nav {
			@media screen and (min-width: 1024px) {
				// display: block;
				a {
					color: $text;
				}
			}
		}
		@media screen and (min-width: 1224px) {
				a.mobile {
					display: block;
				}
			}
		.navbar-brand.red-logo {
			display: block;
			}
		
	}

	/* The side navigation menu */
	.sidenav {
	    height: 100%; /* 100% Full-height */
	    width: 0; /* 0 width - change this with JavaScript */
	    position: fixed; /* Stay in place */
	    z-index: 1; /* Stay on top */
	    top: 0;
	    right: 0;
	    background-color: $light-grey;
	    overflow-x: hidden; /* Disable horizontal scroll */
	    padding-top: 60px; /* Place content 60px from the top */
	    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	    &.open {
	    	width: 250px;
				@media screen and (min-width: 600px) {
		    	width: 350px;
				}
	    }
	    a.fa {
	    	color: $text;
	    }

	    .social-media {
	    	position: absolute;
	    	left: 50px;
	    	bottom: 80px;
	    }
	}

	button.menu-link {
		right: 0;
		z-index: -1;
		&:hover {
			cursor: pointer;
		}
	}

	.sidenav.open + button.menu-link {
		opacity: 1;
		z-index: 999;
		right: 250px;
		@media screen and (min-width: 600px) {
			right: 350px;
		}
		transition: all .5s;
	}

	/* The navigation menu links */
	.sidenav .nav-links a {
	    padding: 8px 8px 8px 50px;
	    text-decoration: none;
	    font-size: 24px;
	    @media screen and (min-width: 600px) {
		    font-size: 34px;
	    }
	    font-family: 'Gilroy-ExtraBold', sans-serif;
	    color: #b7b7b7;
	    display: block;
	    transition: 0.3s;
	    position: relative;
	    &:before {
	    	content: ' ';
	    	width: 25px;
				background: $orange;
				height: 1px;
				display: block;
				opacity: 0;
				position: absolute;
				top: 25px;
				@media screen and (min-width: 600px) {
					top: 30px;
				}
				left: 30px;
	    }
	}

	/* When you mouse over the navigation links, change their color */
	.sidenav .nav-links a:hover, .offcanvas a:focus{
	    color: $text;
	    padding-left: 75px;
	    &:before {
	    	transition: .5s all ease;
	    	opacity: 1;
				left: 35px;
	    }
	}

	/* Position and style the close button (top right corner) */
	.sidenav .closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}

	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
	#main {
	    transition: margin-left .5s;
	    padding: 20px;
	}

	/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
	@media screen and (max-height: 450px) {
	    .sidenav {padding-top: 15px;}
	    .sidenav a {font-size: 18px;}
	}

}