@import "variables.scss";
.single-service {

	section.intro p {
		margin-top: 10px;
		text-align: left;
	}
	header {
		color: #fff;
		h1 {
			margin: 0 auto;
			max-width: 500px;
		}
	}
	.service-content {
	}
	.btn-back {
		position: absolute;
		left: 15px;
		color: #fff;
	}
	.btn-learn-more-right {
		color: #fff;
		position: absolute;
		right: 15px;
	}

	.intro {
		padding: 100px 0;
	}

	.why {
		figure {
			text-align: center;
			img {
				border-radius: 100% 0 0 100%;
				width: 450px;
				height: 500px;
				object-fit: cover;
			}
		}
		.center-vert {
			display: flex;
	    justify-content: center;
  	  flex-flow: column;
		}
	}

	.how {
		h4 {
			margin: 15px 0;
		}
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
	}

	.outcomes {
		h5 {
			width: 150px;
			margin-top: 15px;
		}
		.col-6 {
			margin-bottom: 30px;
		}
		figure {
			text-align: center;
			img {
				border-radius: 0 100% 100% 0;
				width: 450px;
				height: 500px;
				object-fit: cover;
			}
		}
	}

	.brands-row {
		.certificates {
		    position: absolute;
		    top: 50%;
		    &.left {
		      left: 0;
		      transform: rotate(270deg);
		    }

		    &.right {
		      right: 0;
		      transform: rotate(90deg);
		    }
		  }
		li {
			display: inline-block;
			padding: 25px;
		}
		text-align: center;
		img {
			max-height: 100px;
    		max-width: 200px;
		}
	}

}